<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="cs_proyecto" connectionString="server = DESKTOP-Q2HSMNK\SQLEXPRESS;database = PREVIDENT; uid=sa; pwd=123" />
    <add name="SISTEMA_CONSULTORIO_DENTAL_PREVIDENT.Properties.Settings.PREVIDENTConnectionString"
      connectionString="Data Source=DESKTOP-3M914PG;Initial Catalog=PREVIDENT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>